table#design_table {
    border: 1px solid rgb(72, 182, 255);
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

table#design_table caption{
    color: rgb(85, 85, 85);
    font-size: 20pt;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table#design_table th {
    border: 1px solid rgb(72, 182, 255);
    vertical-align: top;
    background: rgb(255, 255, 255);
}

table#design_table td {
    border: 1px solid rgb(72, 182, 255);
    padding: 10px;
    text-align: center;
}

table#design_table tr.fixed_h {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

tbody tr:nth-child(even) {
    background: rgb(202, 200, 200);
}

table#design_table .PK {
    background-image: url(key.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: rgb(241, 255, 172);
}

table#design_table .FK {
    background-image: url(foreign_key.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: rgb(255, 172, 237);
}